<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">
        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">

            <div class="container">

                <div class="row">

                    <div class="col-md-6">
                        {{ with .Params.webform }}
                          {{ partial "webform.html" (dict "name" .) }}
                        {{ end }}
                    </div>

                    <div class="col-md-6">
                        {{ .Content }}
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
