{{- /* Hextra calls this hook from its footer. */ -}}
<div class="fottp-footer">
  <div class="fottp-footer-cols">
    <div>
      <h2>About us</h2>
      {{ site.Params.about_us | safeHTML }}
    </div>
    <div>
      <h2>Contact</h2>
      {{ site.Params.address | safeHTML }}
      <p><a href="{{ "contact-us/" | relURL }}">Contact us</a></p>
    </div>
  </div>
  <p class="fottp-copyright">{{ site.Params.copyright | safeHTML }}
    &middot; <a href="{{ "how-this-website-works/" | relURL }}">How this website works</a></p>
</div>
